* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Anybody", cursive;
    text-align: center;
}

body {
    font-family: "Inter", sans-serif;
}



.columnSideLeft {
    float: left;
    width: 20%;
}

.columnNav {
    float: left;
    width: 15%;
    padding: 5px;
}

.columnCenter {
    float: left;
    width: 45%;
    padding: 5px;

}

.columnSideRight {
    float: right;
    width: 20%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



h1 {
    font-size: 72px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

li {
    display: inline-block;
}