* {
    box-sizing: border-box;
}



/*fonts*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Anybody", cursive;
    text-align: center;
}

body {
    font-family: "Inter", sans-serif;
}


/*Layout*/
header{
    text-align: center;
}

body {
    background-color: rgb(30, 30, 30);
}

.columnSideLeft {
    float: left;
    width: 20%;
}

.columnHeader {
    float: left;
    width: 100%;

}

.columnNav {
    float: left;
    width: 15%;

}

.columnCenter {
    float: left;
    width: 45%;


}

.columnSideRight {
    float: right;
    width: 20%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



/*Headers*/
h1 {
    font-size: 72px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

li {
    display: inline-block;
}



.columnHeader, .columnCenter, .columnNav {
    background-image: url("../img/background.jpg");
}

header, nav, .columnHeader, .columnCenter, .columnNav {
    border-radius: 2px;
    color: rgb(240, 2240, 240);
}

.columnContent {
    background-color: rgba(20, 20, 20, .6);
    padding: 10px;
    border-radius: 6px;
}



.centerBox, iframe {
    text-align: center;
    
}
/*
header, .columnCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/